<?xml version='1.0' encoding='utf-8'?>
<widget id="com.leo.lionel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lionel AI</name>
    <description>Lionel v4 - Sentinela Proativo 2026</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">Léo &amp; Lionel Team</author>

    <content src="index.html" />

    <preference name="AndroidXEnabled" value="true" />
    
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>
    </platform>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
</widget>
